@charset 'utf-8';

@import "../../node_modules/bulma/sass/utilities/functions.sass";

$dark-turquoise: #045c5a;

$carafe: #4e1a3d;
$carafe-invert: findColorInvert($carafe);

$primary: $dark-turquoise;
$secondary: $carafe;

$custom-colors: (
  "secondary": (
    $carafe,
    $carafe-invert,
  ),
);
