@charset 'utf-8';

@import "../../node_modules/bulma/sass/utilities/functions.sass";

$new-turquoise: #05e0e9;

$carafe: #4e1a3d;
$carafe-invert: findColorInvert($carafe);

$rose-red: #cc0011;
$rose-red-invert: findColorInvert($rose-red);

$primary: $new-turquoise;
$secondary: $carafe;
$tertiary: $rose-red;

$custom-colors: (
  "secondary": (
    $carafe,
    $carafe-invert,
  ),
  "tertiary": (
    $rose-red,
    $rose-red-invert,
  ),
);
